@font-face {
  font-display: swap;
  font-family: "Merienda";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/merienda-v19-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@font-face {
  font-display: swap;
  font-family: "Merienda";
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/merienda-v19-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@font-face {
  font-display: swap;
  font-family: "Figtree";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/figtree-v5-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@font-face {
  font-display: swap;
  font-family: "Figtree";
  font-style: italic;
  font-weight: 400;
  src: url("../assets/fonts/figtree-v5-latin-italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@font-face {
  font-display: swap;
  font-family: "Figtree";
  font-style: normal;
  font-weight: 500;
  src: url("../assets/fonts/figtree-v5-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@font-face {
  font-display: swap;
  font-family: "Figtree";
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/figtree-v5-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --bg: #262626;
  --text: #fff8dc;
  --primary100: #6200b3;
  --primary200: #6320ee;
  --secondary200: #f9f9f9;
  --secondary800: #404040;
  --accent: #fa003f;
}

html {
  color: var(--text);
  background-color: var(--bg);
  font-family: "Figtree", sans-serif;
  scroll-behavior: smooth;
}

body {
  min-width: 320px;
  min-height: 100vh;
}

h1,
h2,
h3 {
  font-family: "Merienda", sans-serif;
}
