.icon-sm {
  height: 1.5rem;
  width: 1.5rem;
}

.icon-lg {
  height: 2rem;
  width: 2rem;
}

.container {
  width: 100%;
  padding-inline: 0.5rem;
  margin-inline: auto;
}

/* sm */
@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

/* md */
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

/* lg */
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

/* xl */
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

/* 2xl */
@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}
